# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

# Minio Storage
storage/*

dagster_home/**/__pycache__/
dagster_home/**/.*

dagster_home/storage/*

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and cache
*.log
*.cache/
.pytest_cache/

# OS files
.DS_Store
Thumbs.db
